<div class="col-md-12" style="padding-top: 3em;">
	<div class="panel panel-default">
		<div class="panel-heading">Получить сдачу</div>
		<div class="panel-body">
			@Html.ActionLink("Забрать сдачу", "ProvideChange", "Home", null, new { @class = "btn btn-default form-control" })
		</div>
	</div>
</div>